.header{
	display: flex;
	width:100%;
	z-index: 20;
	top:0;
	left:0;
	position: fixed;
	background-color: #ffffff;
	justify-content: center;

	
}
.html{
	width: 196px;
	margin-left: 98px;
	margin-top: 20px;
}
.flex-cont1{
	display: flex
}
.list{
	font-family: 'Roboto', sans-serif;
	color: #3D58A6;
	display: inline-block;
	font-size: 24px;
	padding-left: 45px;
	margin-top: 35px;
}
.icons{
	display: flex;
	margin-left: 155px;
	margin-top: 31px;

}
.icon{
	padding-left: 35px;
}
.nav1{
	margin-left: 103px;
}
.img{
	display: flex;
	justify-content: center;
	margin-top: 130px;
	
}
.imgw{
	width: 1170px;
	position: relative;
}
.wrap{
	position: absolute;
	display: flex;
	flex-direction: column;
	bottom:0;
	left: 0;
	margin-bottom: 22px;
	margin-left: 30px;
}
.inside{
	font-size: 30px;
	color: #ffffff;
	font-family: 'Roboto', sans-serif;
	

}
.wrap2{
	position: absolute;
	display: flex;
	bottom: 0;
	right: 0;
	margin-bottom: 30px;
	margin-right: 30px;
}
.blueblock{
	width: 1366px;
	height: 500px;
	background-color: #363E97;
	margin-top: 30px;
	margin-left: auto;
	margin-right: auto;

}
.title{
	color: #ffffff;
	font-family: 'Roboto', sans-serif;
	padding-left: 100px;
	padding-top: 30px;

}
.wrapblock{
	display: flex;
	justify-content: space-around;
	margin-top: 27px;

}
.block1{
	font-family: 'Roboto', sans-serif;
	width: 570px;
	height: 320px;
	background-color: #ffffff;
	display: flex;
	justify-content: center;
     align-items: center;
}

.block2{
	font-family: 'Roboto', sans-serif;
	width: 570px;
	height: 320px;
	background-color: #ffffff;
	display: flex;
    justify-content: center;
    align-items: center;

	
}